*.pyc
/.idea
.env
/run_logs
/log
/.venv
browser.xlsx
/resource
/test2.py
/test3.py
/test_accountlogin.py
/test_follow_user3.py
/test_vb.py
/repo/db_init.py
/repo/db_init2.py
/repo/db_init3.py
/repo/db_init4.py
/repo/db_init5.py
/repo/db_init_1500.py
/repo/db_init_3000.py
/repo/db_init_gmail_update.py
/repo/*.db
